!!! 5
%html.no-js{ dir: "ltr", lang: lang }
  
  %head{ prefix: "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#" }
    
    %meta{ charset: "utf-8" }
    
    %title= title 
    
    %meta{ name: "description", content: description }
    %meta{ name: "keywords", content: keywords }
    %meta{ name: "generator", content: "Metalsmith 2.3.0" }
    %meta{ name: "format-detection", content: "telephone=no" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

    %meta{ name: "geo.region", content: "ES-B" }
    %meta{ name: "geo.placename", content: "Sant Cugat del Vallès" }
    %meta{ name: "geo.position", content: "41.485884;2.067146" }
    %meta{ name: "ICBM", content: "41.485884, 2.067146" }

    %meta{ property: "og:title", content: title}
    %meta{ property: "og:type", content: "website"}
    %meta{ property: "og:url", content: "/ca"}
    %meta{ property: "og:site_name", content: title }
    %meta{ property: "og:description", content: description }
    %meta{ property: "og:image", content: "/assets/images/ico/facebook-image.png" }
    %meta{ property: "fb:admins", content: "1216186745"}

    %link{ rel: "apple-touch-icon-precomposed", href: "/assets/images/ico/apple-touch-icon-precomposed.png"}
    %link{ rel: "apple-touch-icon-precomposed", sizes: "57x57", href: "/assets/images/ico/apple-touch-icon-57x57-precomposed.png"}
    %link{ rel: "apple-touch-icon-precomposed", sizes: "72x72", href: "/assets/images/ico/apple-touch-icon-72x72-precomposed.png"}
    %link{ rel: "apple-touch-icon-precomposed", sizes: "114x114", href: "/assets/images/ico/apple-touch-icon-114x114-precomposed.png"}
    %link{ rel: "apple-touch-icon-precomposed", sizes: "144x144", href: "/assets/images/ico/apple-touch-icon-144x144-precomposed.png"}
    %link{ rel: "shortcut icon", type: "image/x-icon", href: "/assets/images/ico/favicon.ico"}

    %link{ rel: "author", type: "text/plain", href: "/humans.txt" }
    - if (lang == "ca")
      %link{ rel: "alternate", href: "/en", hreflang: "en" }
      %link{ rel: "alternate", href: "/es", hreflang: "es" }
    - if (lang == "en")
      %link{ rel: "alternate", href: "/ca", hreflang: "ca" }
      %link{ rel: "alternate", href: "/es", hreflang: "es" }
    - if (lang == "es")
      %link{ rel: "alternate", href: "/ca", hreflang: "ca" }
      %link{ rel: "alternate", href: "/en", hreflang: "en" }

    %link{ href: "/assets/css/style.css?v=" + version, rel: "stylesheet", media: "screen" }
  
  %body
    
    %article
      
      %header{ role: "banner" }
        %h1.logo
          %img{ src: "/assets/images/logo.png", alt: "Xavier Bonell - Front-End Web Developer", width: "520", height: "98" }
      
      %main{ role: "main" }
        
        %section{ itemscope: true, itemtype: "http://schema.org/Person" }
          .inner
            .description{itemprop: "description"}
              != contents
            .hcard
              %img.image{ src: "/assets/images/portrait.jpg", itemprop: "image", alt: "Xavier Bonell" }
              .fields-group
                %strong.name{ itemprop: "name" }
                  %span{itemprop: "givenName"}= vcard.givenName
                  %span{itemprop: "familyName"}= vcard.familyName
                %div.address{itemprop: "address", itemscope: true, itemtype: "http://schema.org/PostalAddress" }
                  %span{itemprop: "addressLocality"}= vcard.addressLocality
                  %span{itemprop: "addressRegion"}= vcard.addressRegion
                  %span{itemprop: "addressCountry"}= vcard.addressCountry
                %a.contact.mail{ href: "mailto:" + vcard.email, itemprop: "email" }
                  %svg.icon.email{ "aria-hidden": "true" }
                    %use{ "xlink:href": "/assets/images/sprite.svg#email" }
                    %span= vcard.email
                %a.contact.web{ href: vcard.url, itemprop: "url" }
                  %svg.icon.web{ "aria-hidden": "true" }
                    %use{ "xlink:href": "/assets/images/sprite.svg#web" }
                    %span= vcard.url
        
        - if (services)        
          %section.services
            - if (lang == 'ca')
              %h2 Serveis
            - if (lang == 'es')
              %h2 Servicios
            - if (lang == 'en')
              %h2 Services
            %ul
              - each service in services
                %li
                  != service
        
        - if (toolkit)
          %section.toolkit
            %h3 Toolkit
            %ul
              - each tool in toolkit
                %li
                  != tool

        - if (networks) 
          %section.social
            %ul.social__icons
              - each network in networks
                %li{ class: network.name }
                  %a{href: network.url, rel: "me"}
                    %svg{ class: "icon icon-" + network.name, "aria-hidden": "true" }
                      %use{ "xlink:href": "/assets/images/sprite.svg#" + network.name }
                    %span.label
                      = network.label

      %footer{ role: "contentinfo" }
        %p.copyright
          %span © #{(new Date()).getFullYear()} Xavier Bonell.
          %span
            %span #{build} build,
            %span version #{version}.
        %ul.lang
          - if (lang == "ca")
            %li
              %span{lang: "ca"} Català
            %li
              %a{ href: "/en", lang: "en" } English
            %li
              %a{ href: "/es", lang: "es" } Español
          - if (lang == "en")
            %li
              %a{ href: "/ca", lang: "ca" } Català
            %li
              %span{lang: "en"} English
            %li
              %a{ href: "/es", lang: "es" } Español
          - if (lang == "es")
            %li
              %a{ href: "/ca", lang: "ca" } Català       
            %li
              %a{ href: "/en", lang: "en" } English
            %li
              %span{lang: "es"} Español      
    
    %script{ src: "/assets/js/app.js?v=" + version, defer: true}
