<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="generator" content="Metalsmith 2.3.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/ico/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/images/ico/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/ico/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/ico/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/ico/apple-touch-icon-144x144-precomposed.png">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/ico/favicon.ico">
    <link rel="author" type="text/plain" href="/humans.txt">
    <link href="/assets/css/style.css?v={{version}}" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="e">
      <figure class="e__bg">
        <img src="{{img.src}}" alt="{{img.alt}}">
      </figure>
      <header class="e__content">
        <h1 class="e__title">{{title}}</h1>
        <p class="e__txt">{{info}}</p>
        <a href="/" class="e__home">Home &rarr;</a>
      </header>
    </div>
  </body>
</html> 