!!! 5
%html.no-js{ :dir => "ltr", :lang => "#{language_code_of(@item)}" }
  
  %head
    
    %meta{ :charset => "utf-8" }/
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/
    
    %title #{@item[:title]} 
    
    %meta{ :name => "description", :content => "#{@item[:description]}" }/
    %meta{ :name => "keywords", :content => "#{@item[:keywords]}" }/
    %meta{ :name => "generator", :content => "nanoc #{Nanoc::VERSION}" }/
    %meta{ :name => "format-detection", :content => "telephone=no" }/
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }/
    %meta{ :name => "geo.region", :content => "ES-B" }
    %meta{ :name => "geo.placename", :content => "Sant Cugat del Vallès" }
    %meta{ :name => "geo.position", :content => "41.485884;2.067146" }
    %meta{ :name => "ICBM", :content => "41.485884, 2.067146" }
    
    %link{ :rel => "apple-touch-icon-precomposed", :href => "/assets/ico/apple-touch-icon-precomposed.png"}/
    %link{ :rel => "apple-touch-icon-precomposed", :sizes => "57x57", :href => "/assets/ico/apple-touch-icon-57x57-precomposed.png"}/
    %link{ :rel => "apple-touch-icon-precomposed", :sizes => "72x72", :href => "/assets/ico/apple-touch-icon-72x72-precomposed.png"}/
    %link{ :rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "/assets/ico/apple-touch-icon-114x114-precomposed.png"}/
    %link{ :rel => "apple-touch-icon-precomposed", :sizes => "144x144", :href => "/assets/ico/apple-touch-icon-144x144-precomposed.png"}/
    %link{ :rel => "shortcut icon", :type => "image/x-icon", :href => "/assets/ico/favicon.ico"}/
    %link{ :rel => "author", :type => "text/plain", :href => "/humans.txt" }/
    - [ 'ca','en','es' ].each do |lang|
      %link{ :rel => "alternate", :href => "#{ translation_of(@item, :in => lang) ? translation_of(@item, :in => lang).reps[0].path : '#' }", :hreflang => "#{lang}" }
    
    %link{ :href => "/assets/css/style.css?v=#{@config[:version]}", :rel => "stylesheet" }/
    %script{ :src => "/assets/js/modernizr.custom.js?v=#{@config[:version]}" }            
  
  %body
    
    %article
      
      %header{ :role => "banner" }
        %h1.logo{ :href => "/", :title => "Xavier Bonell - Front-End Web Developer" }
          %img{ :src => "/assets/img/logo.png", :alt => "Xavier Bonell - Front-End Web Developer", :width => "520", :height => "98" }
      
      %div{ :role => "main" }
        
        %section{ :itemscope => true, :itemtype => "http://schema.org/Person" }
          .description{:itemprop => "description"}
            = yield
          .hcard.cf
            %img.image{ :src => "/assets/img/portrait.jpg", :itemprop => "image", :alt => "Xavier Bonell" }
            .fields-group
              %strong.name{ :itemprop => "name" }
                %span{:itemprop => "givenName"} #{@item[:vcard][:givenName]}
                %span{:itemprop => "familyName"} #{@item[:vcard][:familyName]}
              %div.address{:itemprop => "address", :itemscope => true, :itemtype => "http://schema.org/PostalAddress" }
                %span{:itemprop => "addressLocality"} #{@item[:vcard][:addressLocality]}
                %span{:itemprop => "addressRegion"} #{@item[:vcard][:addressRegion]}
                %span{:itemprop => "addressCountry"} #{@item[:vcard][:addressCountry]}
              %a.contact.phone{ :href => "tel:#{@item[:vcard][:telephone].gsub(/\s+/, '')}", :itemprop => "telephone" }
                %i.icon-phone{ "aria-hidden" => "true" }
                #{@item[:vcard][:telephone]}
              %a.contact.mail{ :href => "mailto:#{@item[:vcard][:email]}", :itemprop => "email" }
                %i.icon-envelop{ "aria-hidden" => "true" }
                #{@item[:vcard][:email]}
              %a.contact.web{ :href => "http://#{@item[:vcard][:url]}", :itemprop => "url" }
                %i.icon-earth{ "aria-hidden" => "true" }
                #{@item[:vcard][:url]}
        
        - if @item[:services] != nil        
          %section.services
            - if language_code_of(@item) == 'ca'
              %h2 Serveis
            - elsif language_code_of(@item) == 'es'
              %h2 Servicios
            - else
              %h2 Services
            %ul
              - @item[:services].each do |service|
                %li= service
        
        - if @item[:networks] != nil 
          %section.social
            %ul.social-icons.fliping-icons
              - @item[:networks].each do |network|
                %li{ :class => "flip-container #{network[:name]}" }
                  %a.flip-icon{:href => "#{network[:url]}", :rel => "author"}
                    %i{ :class => "icon face icon-#{network[:name]}", "aria-hidden" => "true" }
                    %span.label.face.back #{network[:label]}
      
      %footer{ :role => "contentinfo" }
        %p.copyright © #{Time.now.strftime("%Y")} Xavier Bonell
        %ul.lang
          - [ [ 'ca', 'Català' ], [ 'en', 'English' ], [ 'es', 'Español' ] ].each do |lang|
            %li
              - if language_code_of(@item) == lang[0]
                %span{ :lang => "#{lang[0]}" }= lang[1]
              - else
                %a{ :href => "#{ translation_of(@item, :in => lang[0]) ? translation_of(@item, :in => lang[0]).reps[0].path : '#' }", :lang => "#{lang[0]}" }= lang[1]
    
    %script{ :src => "/assets/js/scripts.js?v=#{@config[:version]}"}
